.navbar-nav > .nav-item {
    margin-left: 15px;
    color: rgba(0,0,0,.9);
  }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

section {
    display: flex;
    padding-top: 2%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

:root {
  --red: #cd4541;
}

.red {
  color: var(--red);
}

.btn-primary {
    border: 0px;
    color: white;
    background-color: var(--red);
  }

.card {
  margin-bottom: 25px;
  box-shadow: 0 10px 40px rgba(59, 43, 91, 0.3);
}

#third {
    background-image: url(/CoderSchool\ Landing\ Page\ Assets/banner.jpg);
    min-height: 800px;
    width: 100%;
    padding-bottom: 103.663px;
  }

#fourth > .container > p:nth-last-of-type(1) {
font-size: 25px;
margin-bottom: 100px;
}

#fourth{
    padding-bottom: 100px;
    background-color:#E9EBEE;
}

footer {
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a {
    margin-left: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.typewrite {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

section:nth-child(odd) {
    background-color: #e9ebee;
}

.first-section{
    height: 800px;
    padding-bottom: 103.663px;
    padding-left: 150px;
    padding-right: 150px;
}

*{
    box-sizing: border-box;
}